@using BM_Medical_Resource

@{
    ViewData["Title"] = "Home Page";
}

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>@Labels.Coronavirus</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="/lib/bootstrap/dist/img/virüsCalismalari.png" alt="">
                    <div class="latest-text">
                        <h4>@Labels.VirusStudies</h4>
                        <p>@Labels.Paragraph_1</p>
                        <a href="https://www.bbc.com/turkce/haberler-dunya-53469570">
                            <h4>@Labels.MoreInformation</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="/lib/bootstrap/dist/img/asilanma.png" alt="">
                    <div class="latest-text">
                        <h4>@Labels.VacationNews</h4>
                        <p>@Labels.Paragraph_2</p>
                        <a href="https://covid19asi.saglik.gov.tr/TR-77708/covid-19-asisi-cesitleri.html">
                            <h4>@Labels.MoreInformation</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="/lib/bootstrap/dist/img/virüsBelirtileri.png" alt="">
                    <div class="latest-text">
                        <h4>@Labels.Syndrome</h4>
                        <p>@Labels.Paragraph_3</p>
                        <a href="https://www.acibadem.com.tr/koronavirus/koronavirus-corona-virusu-nedir-belirtileri/">
                            <h4>@Labels.MoreInformation</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="/lib/bootstrap/dist/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Ücretsiz Kargo</h6>
                            <p>40 TL üzerindeki tüm siparişler için</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="/lib/bootstrap/dist/img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Zamanında teslimat</h6>
                            <p>En hızlı teslimat</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="/lib/bootstrap/dist/img/icon-3.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Güvenli ödeme</h6>
                            <p>Tüm alışverişlerde kapıda ödeme</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
