@model IEnumerable<BM_Medical.Models.User>

@{ Layout = "_LayoutAdmin"; }

<div class="container-fluid">
    <h1 class="dash-title">Kullanıcılar</h1>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Kullanıcı Ekle
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form asp-controller="Admin" asp-action="UserCreate" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-sm-12 pb-3">
                                <div class="form-group col-md-6">
                                    <label for="inputAd">Kullanıcı Adı</label>
                                    <input type="text" class="form-control" placeholder="Ad">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputSoyad">Kullanıcı Soyadı</label>
                                    <input type="text" class="form-control" placeholder="Soyad">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAdres">Kullanıcı Adresi</label>
                                    <input type="text" class="form-control" placeholder="Adres">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputSehir">Kullanıcı yaşadığı şehir</label>
                                    <input type="text" class="form-control" placeholder="Şehir">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Kullanıcı mail adresi</label>
                                    <input type="text" class="form-control" placeholder="Mail">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </form>
                </div>
            </div>
            <div class="card easion-card">
                <div class="card-header">
                    <div class="easion-card-icon">
                        <i class="fas fa-table"></i>
                    </div>
                    <div class="easion-card-title">Kullanıcı Bilgileri</div>
                </div>
                <div class="card-body ">
                    <table class="table table-hover table-in-card">
                        <thead>
                            <tr>
                                <th scope="col">Adı</th>
                                <th scope="col">Soyadı</th>
                                <th scope="col">Adres</th>
                                <th scope="col">Telefon Numarası</th>
                                <th scope="col">Email</th>
                                <th scope="col">Sehir</th>
                                <th scope="col">Düzenle/Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="row">@item.Ad</td>
                                    <td>@item.Soyad</td>
                                    <td>@item.Adres</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@item.Sehir</td>
                                    <td></td>
                                    <td>
                                        <a href="/Admin/UserList/@item.Id" class="btn btn-primary btn-sm mr-2"><i class="fas fa-user-edit"></i></a>
                                        <form asp-controller="Admin" asp-action="UserDelete" method="post" style="display:inline">
                                            <input type="hidden" name="UserId" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm "><i class="fas fa-user-minus"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>