@model IEnumerable<BM_Medical.Models.User>
@using BM_Medical_Resource
@{ Layout = "_LayoutAdmin"; }

<div class="container-fluid">
    <h1 class="dash-title">@Labels.Users</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card easion-card">
                <div class="card-header">
                    <div class="easion-card-icon">
                        <i class="fas fa-table"></i>
                    </div>
                    <div class="easion-card-title">@Labels.UserInformation</div>
                </div>
                <div class="card-body ">
                    <table class="table table-hover table-in-card">
                        <thead>
                            <tr>
                                <th scope="col">@Labels.Name</th>
                                <th scope="col">@Labels.Surname</th>
                                <th scasope="col">@Labels.Adress</th>
                                <th scope="col">@Labels.Mail</th>
                                <th scope="col">@Labels.Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="row">@item.Ad</td>
                                    <td>@item.Soyad</td>
                                    <td>@item.Adres</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <form asp-controller="Admin" asp-action="UserDelete" method="post" style="display:inline">
                                            <input type="hidden" name="UserId" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm "><i class="fas fa-user-minus"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
